
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <div class="container">
{% block body %}
<center>
        <h1 class="text-center" style="font-size: 10vh">Optical Character Recognition<span style="font-size: 3vh;"></span></h1>
        <hr>

        <h2>Description:</h2>
        <h4>Upload an image to extract the text using Optical Character Recognition (OCR)</h4>

        <hr>
        <br><br>
        <h2>Upload the Image</h2>

        <div class="text-center">
            <form action="scanner" method=post enctype=multipart/form-data>
                <div class="input-group">
                    <div class="custom-file">
                        <input type="file" name="file" class="custom-file-input" id="inputGroupFile01"
                               aria-describedby="inputGroupFileAddon01" accept="image/*">
                   <br>     <label class="custom-file-label" for="inputGroupFile01">Choose file</label><br>
                    </div>
                </div>

                <br>
                <button type="submit" class="btn btn-raised btn-primary">Scan Image</button>
            </form>
        </div>
    </div>
</center>

{% if scanned %}
    <hr>
    <h1>TEXT: </h1>
{% endif %}
{% endblock body %}
